/* import fonts here */

* {
    box-sizing: border-box;
  }
  
  :root {
    /* define variables here */
    --green: green;
    --red: red;
    --blue: blue;
  }
  
  html {
    touch-action: manipulation;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  }
  